@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Fleur+De+Leah&display=swap');
@font-face {
    font-family: 'ringbearermedium';
    src: url('./ringbearermedium-51mgz-webfont.woff2') format('woff2'), url('./ringbearermedium-51mgz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FAE3C3;
    font-family: 'Caudex', serif;
}

.titulo_principal {
    font-family: 'ringbearermedium';
    text-align: center;
    font-size: 90px;
    color: #D98D30;
    text-shadow: 0.07em 0.06em 0.05em #7a3b04;
}

.frase {
    font-family: 'Bilbo Swash Caps';
    font-size: 35px;
    text-align: center;
    color: #7a3b04;
}

.linha {
    width: 1000px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.subtitulos {
    font-size: 55px;
    text-align: center;
    color: #333;
}

.chamada {
    position: relative;
    margin-bottom: -100px;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    font-size: 28px;
    text-shadow: 0.1em 0.1em 0.05em #333;
    /*sombra */
}

.carrossel {
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
}

.carrossel .fotos_carrossel {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.fotos_carrossel img {
    width: 1285px;
    /* width: 1300px; */
    height: 360px;
}

#barra_info {
    background-color: #fff;
    color: #333;
    width: 350px;
    height: 40px;
    margin-right: 450px;
    margin-left: 450px;
    font-size: 20px;
    align-items: center;
    display: flex;
    border-radius: 15px;
}

.imagem_outras_pgs {
    margin-top: 30px;
}

h2 p {
    float: right;
}

.cont_principal {
    width: 100%;
    height: 70%;
    background-color: rgba(36, 35, 35, 0.171);
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 350px;
    height: 600px;
    background-color: #BF702A;
    border: 2px solid #333;
    border-radius: 15px;
    margin: 25px;
    /* align-items: center; */
}

.imagem_card {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin: 20px 20px 20px 20px;
}

.titulo_card {
    font-size: 25px;
    color: #333;
    padding-top: 20px;
    text-align: center;
}

.texto_card {
    font-size: 21px;
    text-align: center;
    margin: 20px 0 0 0;
}

.subtitulos {
    color: #333;
}

.imagem_outras_pgs {
    color: #333;
    font-size: x-large;
}